#workouts{
    background-image:url('https://tunthehyper.files.wordpress.com/2018/03/dark-camo-wallpaper-1376-1508-hd-wallpapers.jpg?w=880&h=312&crop=1');  
}

h2{
    margin-block: auto;
}

#jumbo{
    background-color: rgb(1, 75, 1);
}